// Share Tech font style from google fonts
// https://fonts.google.com/specimen/Share+Tech?preview.text=The%20Techno%20Learning%20Club&preview.text_type=custom&query=tech#styles

@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

.page{
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.turingHeading{
    margin-top: 5vh;
    // border: 2px solid white;
}
.turingHeadingDiv{
    display: flex;
    // border: 2px solid;
    height: 95vh;
    align-items: center;
    justify-content: center;
    font-family: 'Share Tech', sans-serif;
    flex-direction: column;
    .subHeading{
        font-size: 2vw;
    }
}