.logo img{
    width: 3vw;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, rgb(15, 80, 86), rgb(40, 4, 77), rgb(3, 82, 82));
    padding: 0.5vw;
    box-shadow: 0.5vw 0.5vw 1vw black;
}

.navbarItem{
    padding: 0.5vw;
    padding-right: 1vw;
    padding-left: 1vw;
    border-radius: 0.5vw;
}

.navbarItem:hover{
    transition: all;
    transition-duration: 0.3s;
    // background-color: rgb(165, 119, 9);
    box-shadow: 0vw 0vw 0.5vw 0.1vw white;
    padding: 0.5vw;
    padding-right: 1vw;
    padding-left: 1vw;
    cursor: pointer;
}


.fixNavbar{
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
}


@media screen and (max-device-width: 480px)
and (orientation: portrait) {
    .fixNavbar{
        // max-width: 50%;
        // border: 2px solid white;

    }
    .logo img{
    width: 8vw;
}
}