@media screen and (min-width: 1000px) {
    .swiperSlide {
        display: flex;
        justify-content: center;
        img {
            object-fit: cover;
            min-height: 70vh;
            min-width: 90%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .swiperSlide {
        display: flex;
        justify-content: center;
        img {
            // object-fit: cover;
            // height: 80vh;
            min-width: 50%;
        }
    }
}

.swiperSlide {
    z-index: -1;

    img {
        object-fit: cover;
        max-height: 15vh;
    }
}
.mySwiper {
    z-index: 2;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .swiperSlide {
        img {
            width: 80%;
            object-fit: cover;
            min-height: 30vh;
        }
    }
}
