
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');


*{
    font-size: 1.3vw;
    color: white;
	font-family: 'Share Tech', sans-serif;
}

.App{
    // width: 100vw;
	// height: 100vh;
	background: linear-gradient(334deg, #080828, #0b0d0f, #1d098e);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
}